<head>
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- end FAVICON -->
    <title><%=query%></title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        * {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
        }
        ul li {
            transition: all .25s ease;
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid transparent;
            border-radius: 5px;
        }
        ul li:hover {
            background: #f2f7ff;
            border: 1px solid #bdbdbd;
        }
        ul {
            list-style-type: none;
            max-width: 600px;
            padding: 0;
            margin: 0 0 0 0;
        }
        ul li p {
            margin-block-start: .25em;
        }
        ul li a {
            text-decoration: none;
        }
        ul li a:hover {
            text-decoration: underline;
        }
        ul li small {
            color: #15844e;
        }
        @media only screen and (min-width : 500px) {
            main {
                margin-left: 5%;
            }
            #searchBox {
                margin-left: 5%;
            }
        }
        @media only screen and (max-width : 500px) {
            #searchBox {
                width: 100%;
            }
            #searchBar {
                width:90% !important;
            }
        }
        nav {
            width:100%;
            height:65px;
            background: #fafafa;
            margin: 0;
            box-shadow: 0 -5px 5px 5px #a2a2a2;
            overflow: hidden;
        }
        main {
            background: #fff;
            margin-top: 15px;
            padding: 1em 1em 1em 1em;
        }
        #searchBox {
            margin-top: 20px;
            padding-left: 1em;
        }

        #searchBar {
            height: 30px;
            max-width: 100%;
            width: 250px;
            border-radius: 15px;
            padding: 5px 5px 5px 10px;
            border: 1px solid #777777;
            font-size: 15pt;
            background: #ffffff;
            transition: all 500ms cubic-bezier(0.005, 0.75, 0.75, 1.000);
            outline: none;
        }
        #searchBar:focus {
            width: 350px;
            border: 2px solid #2196F3;
        }

        @keyframes FadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        main ul li {
            animation: FadeIn .5s ease;
            animation-fill-mode: backwards;
        }
        #searchIcon {
            height: 16px;
            margin-left: -30px;
        }
        .no-display {
            display:none;
        }
        #searchTime {
            margin-top: 30px;
        }
        main ul li p {
            line-height: 1.15;
        }
        #sideBar {
            margin-top: 15px;
            float: right;
            padding: 2em;
            border: 1px solid gray;
            border-radius: 3px;
            /* TEMPORARY */
            display: none;
        }
        main ul li:nth-child(0) { animation-duration: 0s; }
        main ul li:nth-child(1) { animation-delay: .0s }
        main ul li:nth-child(2) { animation-delay: .1s }
        main ul li:nth-child(3) { animation-delay: .2s }
        main ul li:nth-child(4) { animation-delay: .3s }
        main ul li:nth-child(5) { animation-delay: .4s }
        main ul li:nth-child(6) { animation-delay: .5s }
        main ul li:nth-child(7) { animation-delay: .6s }
        main ul li:nth-child(8) { animation-delay: .7s }
        main ul li:nth-child(9) { animation-delay: .8s }
        main ul li:nth-child(10) { animation-delay: .9s }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<nav>
    <div id="searchBox">
        <form autocomplete="off" action="/" method="get">
            <label>
                <input autocomplete="off" id="searchBar" type="text" name="q" value="<%=query%>">
            </label>
            <label>
                <img id="searchIcon" src="/search.svg" alt="Search">
                <input class="no-display" type="submit" value="Submit">
            </label>
        </form>
    </div>
</nav>
<% if (Array.isArray(results) && results.length > 0 && results[0]["link"].substring(0, 32) === "https://www.youtube.com/watch?v=") {%>
    <div id="sideBar">

    </div>
<% }%>
<main>
<% if (Array.isArray(results) && results.length > 0) {%>
<ul>
    <% results.forEach(function(result) { %>
        <li>
            <a href="<%-result.link%>" referrerpolicy="no-referrer" rel="nofollow">
                <%- result.htmlTitle %>
            </a>
            <br />
            <small>
                <%-result.displayLink%>
            </small>
                <p><%-result.htmlSnippet.replace("<br>", " ")%></p>

        </li>
    <% }); %>
</ul>
<% } else { %>
    <p>We're sorry, we didn't find anything for '<b><%=query%></b>'</p>
<% } %>
    <% if (Array.isArray(results) && results.length > 0) {%>
    <span id="searchTime">Zippy search performed in just <%=searchTime%>s.</span>
    <% } %>
</main>

<footer>

</footer>